@import 'imports/colors';

.aip-state {
  border-radius: 4px;
  font-size: 0.75em;
  margin-left: 10px;
  padding: 2px 5px;
}

.aip-state-reviewing {
  background-color: $glue-blue-50;
  border: 1px solid $glue-blue-200;
}

.aip-state-draft {
  background-color: $glue-yellow-50;
  border: 1px solid $glue-yellow-200;
}

h3.reviewing::after {
  @extend .aip-state;
  @extend .aip-state-reviewing;
  content: 'Reviewing';
  font-size: 0.5em;
}
