{% extends 'layouts/base.html.j2' %}

{% block title %}{{ scope.title }} AIPs{% endblock %}

{% block nav %}
{{ nav.render_nav(site, path, scope_code=scope.code) -}}
{% endblock %}

{% block content %}
<aside id="aip-sidebar" class="docs-component-sidebar">
  {# Table of Contents -#}
  <section id="aip-toc" class="docs-component-sidebar-toc">
    <div class="toc">
      <span class="toctitle">Categories</span>
      <ul>
        {% for cat in scope.categories.values() -%}
        <li><a href="#{{ cat.code }}">{{ cat.title }}</a></li>
        {% endfor -%}
      </ul>
    </div>
  </section>

  {# Action links -#}
  <section class="docs-component-sidebar-actions">
    <ul>
      <li><a href="{{ site.repo_url }}/issues/">File Bug</a></li>
    </ul>
  </section>
</aside>

<section id="aip-main" class="docs-component-main">
  {% with title = '{0} AIPs'.format(scope.title) -%}
    {% include 'includes/breadcrumb.html.j2' %}
  {% endwith -%}

  {% for cat in scope.categories.values() -%}
  {% if cat.aips -%}
  <h3 id="{{ cat.code }}">{{ cat.title }}</h3>
  <table class="aip-listing">
    <thead>
      <tr>
        <th style="text-align: right;">Number</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
    {% for aip in cat.aips.values() -%}
      {% if aip.state in ('approved', 'reviewing', 'draft') -%}
      <tr>
        <td style="text-align: right;">{{ aip.id }}</td>
        <td>
          <a href="{{ site.relative_uri }}/{{ aip.id }}">{{ aip.title }}</a>
          {% if aip.state != 'approved' -%}
          <span class="aip-state aip-state-{{ aip.state }}">
            {{ aip.state | capitalize }}
          </span>
          {% endif -%}
        </td>
      </tr>
      {% endif -%}
    {% endfor -%}
    </tbody>
  </table>
  {% endif -%}
  {% endfor -%}

  {% include 'includes/footer.html.j2' %}
</section>
{% endblock %}
