{% extends 'layouts/base.html.j2' %}

{% block title -%}
{{ page.title }}
{%- endblock %}

{% block content %}
<aside id="aip-sidebar" class="docs-component-sidebar">
  {# Table of contents -#}
  <section id="aip-toc" class="docs-component-sidebar-toc">
    {{ page.content.toc }}
  </section>
</aside>
<section id="aip-main" class="docs-component-main">
  {% with title = page.title -%}
    {% include 'includes/breadcrumb.html.j2' %}
  {% endwith -%}
  {{ page.content.html }}

  {% if 'footer' in page.config -%}
    <footer>{{ page.config.footer | markdown }}</footer>
  {% else -%}
    {% include 'includes/footer.html.j2' %}
  {% endif -%}
</section>
{% endblock %}
