# FAQ

## What is your name?

Arthur, King of the Britons

## What is your quest?

To seek the Holy Grail.

## What is the capital of Assyria?

Ninevah

## What is your favorite color?

{% for color in ['blue', 'yellow'] -%}
- {{ color.capitalize() }}
{% endfor -%}
